{%extends 'base.html'%}
{% block conteudo %}
<div class="w-full  p-5 justify-start">
  
    <div class="mb-3 ">
   <nav class="flex" aria-label="Breadcrumb">
  <ul class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="{{url('')}}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Início
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="{{url('produtos')}}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white"> 
            Produtos</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Editar</span>
      </div>
    </li>
  </ul></nav>
  </div>
    {{flash()}}
    <div class=" w-full flex  justify-center items-start gap-8 overflow-y-scroll " style="max-height: 90vh;">
        <div class="w-full dark:bg-gray-900 dark:border-gray-700 rounded-lg p-3" >
            <form action="{{url('produtos/editar/'~produto.slug~'/'~produto.id)}}" method="post" class="flex flex-col w-full gap-1 items-start justify-start">
                
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="produto">
                        Produto
                    </label>
                      <input class="block w-full p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500" value="{{maiuscula(produto.nome)}}" id="produto" type="text" name="produto" placeholder="Ex: Dipirona"  required>

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="cod_barras">
                        Código de Barras
                    </label>
                      <input class="block w-60 p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500"  id="cod_barras" type="text" name="cod_barras" placeholder="1234567890128"  value="{{produto.cod_barras}}">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fornecedor">
                        Fornecedor
                    </label>
                      <input class="block w-50 p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500"value="{{maiuscula(produto.fornecedor)}}"  id="fornecedor" type="text" name="fornecedor" placeholder="Ex: CEMA/FORNECEDOR"  required>
                          
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="unicont">
                       Unidade de Contagem
                    </label>
                      <select name="unicont" id="unicont" class="block w-30 p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500">
                 <option value="unidade" {% if "unidade" == produto.unid_cont %}selected{% endif %}>Unidade</option>
                  <option value="caixa" {% if "caixa" == produto.unid_cont %}selected{% endif %}>Caixa</option>
                  <option value="pacote" {% if "pacote" == produto.unid_cont %}selected{% endif %} >Pacote</option>
                  

</select>

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="validade">
                        Validade
                    </label>
                     <input class="block w-40 p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500" value="{{produto.validade}}"  id="validade" type="date" name="validade"  required>

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="quantidade" >
                        Quantidade
                    </label>
                    <input class="block w-24 p-2  border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500" id="quantidade" type="number" name="quantidade" placeholder="Ex: 12" min="1" value="{{produto.quantidade_estoque}}" required>

                      <input class=" border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 px-5 py-2.5" type="submit" value="Atualizar">
          
            </form>
        </div>
        


</div>
  
    </div>
{% endblock %}