{%extends 'base.html'%}
{% block conteudo %}
<div class="flex w-full p-5 flex-col justify-start  ">
    <div class="mb-3 ">
    <nav class="flex" aria-label="Breadcrumb">
  <ul class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="{{url('')}}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Início
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="{{url('vendas')}}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white"> 
            Saída</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Adicionar</span>
      </div>
    </li>
  </ul></nav>
  </div>
    {{flash()}}
    <div class=" w-full flex  justify-start items-start gap-8 overflow-y-scroll   " style="max-height:90vh;">
             
       
             <div class=" w-full">
               <form id="formularioPedido" class=' w-full flex-wrap flex justify-start items-center gap-8 pb-3'>
                   
                  <label>Produto</label>
                  <select class="select" style="width: 40%;" id="produtoSelecionar">
                    
                     {% for pro in produtos%}
            <option value="{{pro.id}},{{pro.nome}}">{{pro.nome}}</option>
              {% endfor%}
                  </select>
           
             
           
       
        <label for="quantidadeSelecionar">Qnt:</label>
        <input type="number" id="quantidadeSelecionar" name="quantidadeSelecionar" min='1' class=' flex w-32 p-2 pl-3 border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 focus:ring-blue-500 focus:border-blue-500'>

        <button type="button" class=' w-auto border border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 px-5 py-2.5 ' id="pedirBotão">Enviar</button>
    </form>
             <p class='text-lg text-gray-900'>Lista:</p>
            <hr>
               
    <form  action="{{url('pedido/fazer')}}" method="post">
        <div id="pedidoForm" class="flex flex-col w-full text-sm">
            
        </div>
        <div class="flex gap-3 w-full align-center">
        <!-- Campos serão adicionados aqui -->
        
         <input class="border mt-3 border-gray-300 rounded-lg hover:bg-gray-50 hover:border-blue-300 px-5 py-2.5 " id="venderBtn" type="submit"  value="Pedir">
        </div>
    </form>
            
           
   
 
        </div>
        


</div>
     <script>
        $(document).ready(function() {
            $('.select').select2({
                placeholder: 'Selecione um produto',
                allowClear: true
            });
           
        });
    </script>
    <script src="{{url('templates/assets/js/bootstrap.min.js')}}"></script>
    </div>
{% endblock %}