/* cyrillic-ext */

/* latin */
@font-face {  
  font-family: 'Source Sans Pro';  
  font-style: italic; /* Mantenha o estilo, dependendo da sua fonte real */  
  font-weight: 400;   /* Mantenha o peso, dependendo da sua fonte real */  
  font-display: fallback;  
  src: url('../font/SourceSans3-Italic.ttf') format('truetype'); /* Ajuste o nome do arquivo aqui */  
}  

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../font/SourceSans3-Light.ttf') format('truetype');

}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../font/SourceSans3-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
 src: url('../font/SourceSans3-Bold.ttf') format('truetype');

}