{%extends 'base.html'%}
{% block conteudo %}
<div class="flex w-full h-full px-8 py-5 flex-col justify-start">
  <a href="#" class="mb-3 text-white font-medium hover:text-gray-600">Dashboard</a>

  <div class=" gap-5 flex h-full">
    <div class="flex gap-2 h-max flex-col w-1/4" style="height: 18%">
            <a href="{{url('categorias')}}" class="bg-blue-500 h-2/4  pl-2 rounded-lg flex w-full  justify-between items-center">
          <h3 class="text-white">Categorias</h3>
        <div class="hover:bg-green-500 h-full  rounded-r-lg flex w-1/6  justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg>
      </div>
      </a>
        <a href="{{url('medicamentos')}}" class="bg-blue-500 h-2/4  pl-2 rounded-lg flex w-full  justify-between items-center">
          <h3 class="text-white">Medicamentos</h3>
        <div class="hover:bg-green-500 h-full  rounded-r-lg flex w-1/6  justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg>
      </div>
      </a>
     
    </div>
   
  </div>
</div>

{% endblock %}