{%extends 'base.html'%}
{% block conteudo %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{produto.nome}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url('index')}}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{url('produtos')}}">Produtos</a></li>
            <li class="breadcrumb-item active">Produto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {{flash()}}


  <div class="modal fade" id="editarProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form action="{{url('produtos')}}" method="post">
              <input id="produto_id" type="hidden" name="produto_id" value="{{produto.id}}">
              <div class="form-group">
                <label>Produto</label>
                <input class="form-control" id="produto_edit" type="text" name="produto_edit" placeholder="Ex: Dipirona" value="{{produto.nome}}"
                  required>
              </div>
              <div class="form-group">
                <label>Unidade de Contagem</label>
                <select name="unicont_edit" id="unicont_edit" class="form-control">
                  <option value="unidade">Unidade</option>
                  <option value="caixa">Caixa</option>
                  <option value="pacote">Pacote</option>
                </select>
              </div>
              <div class="form-group">
                <input class="btn btn-primary form-control" type="submit" value="Editar">
              </div>
            </form>
             
          </div>
        </div>

      </div>
    </div>
  </div>


 <div class="content">
   <div class="container-fluid mb-2"> <button class="btn btn-primary" data-bs-toggle="modal"
       data-bs-target="#editarProduto">Editar Produto</button></div>
 </div>


  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">Lotes</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>

                <th>ID</th>
                <th>Lote</th>
                <th>Quantidade</th>
                <th>Fornecedor</th>
                <th>Validade</th>

              </tr>
            </thead>
            <tbody>
              {%for lote in lotes%}
              <tr data-id="{{ produto.id }}" data-nome="{{ produto.nome }}">
                <td>{{lote.id}}</td>
                <td class="text-wrap" style="width:600px;"><a href="{{url('lotes/'~lote.id)}}"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ">{{lote.lote }}</a>
                </td>

                <td >{{lote.quantidade}}</td>
                <td>{{lote.fornecedor}}</td>
                <td>{{lote.vencimento}}</td>
              </tr>
              {%endfor%}
               
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.content -->
    </div>
  </div>
</div>
{% endblock %}