{%extends 'base.html'%}
{% block conteudo %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Produtos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url('index')}}">Inicio</a></li>
            <li class="breadcrumb-item active">Produtos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

 
  {{flash()}}




<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header bg-primary">
            <h3 class="card-title">Criar Tipo</h3>


          </div>
          <div class="card-body">

            <form action="{{url('criarTipo')}}" method="post">
              <div class="form-group">
               <label>Criar Tipo</label>
                  <input type="text" id="tipoProduto" name="tipoProduto" class="form-control"
                    placeholder="Antiviral"></div>
           

              <div class=" form-group">
                <button type="submit" class="btn btn-primary form-control ">Criar</button>
              </div>


            </form>


          </div>
          <!-- /.card-body -->

          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

  <div class="modal fade" id="editarProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form action="{{ url('produtos/') }}" method="post">
              <input id="produto_id" type="hidden" name="produto_id">
              <div class="form-group">
                <label>Produto</label>
                <input class="form-control" id="produto_edit" type="text" name="produto_edit" placeholder="Ex: Dipirona"
                  required>
              </div>
              <div class="form-group d-flex flex-col">
                <label>Unidade de Contagem</label>
                <select name="unicont_edit" id="unicont_edit" class="form-control">
                  <option value="UNID">Unidade</option>
                  <option value="FRC">Frasco</option>
                  <option value="AMP">Ampola</option>
                  <option value="BIS">Bisnaga</option>
               
                </select>
              </div>
              <div class="form-group">
                <label>
                  Tipo Produto
                </label>
                <select name="tipos_edit[]" id="tipos_edit[]" class="form-control campo_select" multiple="multiple">
                  {% for tipo in tipos %}
                  <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group ">
                <label>CMM</label>
                <input type="number" id="crit_edit" name="crit_edit" min="1" class="form-control">
              </div>
              <div class="form-group">
                <input class="btn btn-primary form-control" type="submit" value="Editar">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card collapsed-card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Cadastrar Produto</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-plus"></i>
                </button>

              </div>
            </div>
            <div class="card-body" style="display: none;">
              <!-- /.conteudo-->
              <form action="{{url('produtos/produto_cadastrar')}}" method="post">

                <div class="form-group">
                  <label>
                    Produto
                  </label>
                  <input class="form-control" id="produto" type="text" name="produto" placeholder="Ex: Dipirona"
                    required></div>

                 <div class="row">

                  <div class="form-group col">
                    <label>
                      Unidade de Contagem
                    </label>
                    <select name="unicont" id="unicont" class="form-control">
                      <option value="UNID">Unidade</option>
                      <option value="FRC">Frasco</option>
                      <option value="AMP">Ampola</option>
                      <option value="BIS">Bisnaga</option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <label>
                      Tipo Produto
                    </label>
                    <select name="tipos[]" id="tipos[]" class="form-control campo_select" multiple="multiple">
                      {% for tipo in tipos %}
                      <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col">
                    <label>CMM</label>
                    <input type="number" id="crit" name="crit" min="1" class="form-control">
                  </div>
                 </div>
                
             
                <div class="form-group">
                  <input class="btn btn-primary form-control" type="submit" value="Cadastrar">

                </div>



              </form>
            </div>
            <!-- /.card-body -->

            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>


 <div class="content">
   <div class="container-fluid">
     <form method="POST" action="{{ url('produtos') }}">
       <div class="row">
         <div class="col form-group">

           <select id="filtro" name="filtro" class="form-control">
             <option value="todos">Todos os produtos</option>
             <option value="com_lote">Produtos com lote</option>
             <option value="critico">Produtos críticos (quantidade menor ou igual ao critico)</option>
           </select>
         </div>
         <div class="col form-group">
           <input type="search" name='pesquisa' class="form-control form-control-md" placeholder="Ex: DIpirona">
         </div>
         <div class="col-2 form-group">

           <button type="submit" class="btn btn-md btn-primary">
             <i class="fa fa-search"></i>
           </button>

         </div>
       </div>


     </form>
   </div>
 </div>


  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">Produtos</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
<div class="d-none">
  <table id="cabe" class="table" style="border: 1px solid black; margin-bottom: 50px;">
    <thead>
      <tr>
        <th style="border: 1px solid black;">Extrato de Produtos</th>
      
        <th style="border: 1px solid black;">Data Extração: {{ "now"|date("d/m/Y") }} </th>

      </tr>
    </thead>

  </table>
</div>

          <table id="example" class="text-sm table table-striped table-bordered table-hover">
            <thead>
              <tr>

                <th>ID</th>
                <th style="width: 600px;">Nome</th>
                <th>Tipo</th>
                <th>Todos</th>
                 <th>CMM</th>
                 <th>CMQ</th>
                 <th>CMS</th>
                <th>Ação</th>

              </tr>
            </thead>
            <tbody>
              {% for produto in produtos %}
              <tr data-id="{{ produto.id }}" data-nome="{{ produto.nome }}" data-crit="{{ produto.qnt_crit }}">
                <td>{{ produto.id }}</td>
                <td class="text-wrap" style="width:600px;">
                  <a href="{{ url('produtos/' ~ produto.slug ~ '/' ~ produto.id) }}"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ">
                    {{ produto.nome }}
                  </a>
                </td>

                <td class="text-wrap" style="width:200px;">
                  {% set tipo_ids = produto.tipo | split(',') %} {# Divide a string de tipos em um array #}

                  {% for tipo_id in tipo_ids %} {# Itera sobre os IDs separados por vírgula #}
                  {% for tipo in tipos %}
                  {% if tipo_id == tipo.id %} {# Compara o ID com tipo.id (convertido para string) #}
                  {{ tipo.nome }} {# Exibe o nome do tipo correspondente #}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </td>
                 <td>
                   {{ produto.total_quantidade > 0 ? produto.total_quantidade : '0' }}
                 </td>

                <td>{{ produto.qnt_crit }}</td>
                 <td>{{ produto.qnt_crit / 2}}</td>
                  <td>{{ produto.qnt_crit / 4 }}</td>

                <td class="d-flex justify-content-center">
                  <button class="btn btn-primary editProduto" data-bs-toggle="modal"
                    data-bs-target="#editarProduto">Editar</button>
                  {% if usuario().nivel == 1 %}
                  <a href="{{ url('produtos/deletar/' ~ produto.id) }}" class="btn btn-danger btn-sm">Deletar</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}


            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.content -->
    </div>
  </div>
</div>

{% endblock %}
