<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>proibido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="{{url('templates/assets/img/favicon.ico')}}" type="image/x-icon">



    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="w-full h-full justify-center items-center text-center">
        <h4>Usuário Proibido de Acessar!</h4>
        <a href="{{url('index')}}">Voltar</a>
        <a href="{{url('sair')}}">Deslogar</a>
    </section>

</body>

</html>