{%extends 'base.html'%}
{% block conteudo %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Receita</h1>
        </div>
       
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {{flash()}}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Adicionar Medicação a Receita</h3>

            </div>
            <div class="card-body" >
       
             
             <form id="sourceForm" >
            
               <div class="form-group">
                 <label>Produtos:</label>
                 <select id="selectField" class="campo_select form-control" style="width: 100%" name="selectField"
                   >
                   {% for produto in produtos %}
                   <option value="{{ produto.id }};{{ produto.nome }}">{{ produto.nome }}</option>
                   {% endfor %}
                   
                  
                 </select>
               </div>
            
               <div class="form-group">
                 <label>Qnt:</label>
                 <input type="number" id="numberField" name="numberField" min="1" class="form-control" >
               </div>
               
               <div class="form-group justify-content-between d-flex">
               
                 <button type="button" class="btn btn-primary" id="submitButton" >Enviar</button>
                  <button type="button" class="btn btn-danger" id="limparLista">Limpar Lista</button>
               </div>
             </form>


              <p class="text-body" id='teste'>Lista:</p>
              <hr>

              <form action="{{ url('receita/') }}{{id}}" method="post">
                <input type="hidden" name="addProduto">
                <div id="targetForm" class="d-flex flex-column w-100 text-body"></div>
                <div class="d-flex w-100 gap-3 align-items-center">
                 
                  <div class="form-group">
                    <input class="form-control btn btn-primary" id="venderBtn" type="submit" value="Adicionar Saída">
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->

            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>



  

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="card text-bg-dark rounded" >
      <div class="d-flex align-items-center p-2 w-full" style="gap:4px">
          <div class="rounded-circle bg-danger me-1" style="width: 15px; height: 15px;"></div>
          <div class="rounded-circle bg-warning me-1" style="width: 15px; height: 15px;"></div>
          <div class="rounded-circle bg-success" style="width: 15px; height: 15px;"></div>
      </div>
      <div class="card-body">
        
        Paciente:  {{infos[0].paciente}}
        <br>
        Prescritor:  {{infos[0].prescritor}} - CRM-{{infos[0].crm}}
        <br>
        Local da Dispensa:  {{infos[0].local}}
        <br>
        Paciente:  {{infos[0].paciente}}
        <br>
        Data:  {{infos[0].data}} e Registrado em {{infos[0].data_registro}}
        <br>
        Obs:  {{infos[0].obs}}
      </div>
  </div>

    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="card-title">Lista</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

<div class="d-none">
  <table id="cabe" class="table" style="border: 1px solid black;margin-bottom: 50px;">
    <thead>
      <tr>
        <th style="border: 1px solid black;">Extrato de Saídas</th>
        <th style="border: 1px solid black;">Intervalo da Pesquisa:
          {{dados.dePesquisa |date('d/m/Y')}} |
          {{dados.atePesquisa |date('d/m/Y')}}</th>
        <th style="border: 1px solid black;">Data Extração: {{ "now"|date("d/m/Y") }} </th>

      </tr>
    </thead>

  </table>
</div>


        <table id="example" class="table table-striped table-bordered table-hover text-sm">
          <thead>
            <tr>

            
              <th>Produto</th>
              <th>Qnt</th>         
              <th>#</th>


            </tr>
          </thead>
          <tbody>
            
            {% for registro in receita %}

            <tr>


              <td>
               
                  {{ registro.nome }} 
             
              </td>
              <td>{{ registro.quantidade }}</td>
              <td>  
               <a href="{{url('receita/deletar/'~registro.id)}}"
                  class="btn btn-danger btn-sm">Deletar</a>
             
                  
              </td>




            </tr>

            {% endfor %}
            
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.content -->
  </div>
</div>
</div>







{% endblock %}
{% block script %} <script src="{{url('templates/assets/js/receita.js')}}"></script> {% endblock %}