{%extends 'base.html'%}
{% block conteudo %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Saídas Por Produto</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url('index')}}">Inicio</a></li>
            <li class="breadcrumb-item active">Saídas por Produto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {{flash()}}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header bg-primary">
            <h3 class="card-title">Pesquisa</h3>


          </div>
          <div class="card-body">

            <form action="{{url('saidas/hospital')}}" method="post">
              <input type="hidden" name="relatorio" id="relatorio" value="relatorio">
              <div class=" row form-group">
                <div class="col-2"> <label>De:</label>
                  <input type="date" id="dePesquisa" name="dePesquisa" class="form-control" required>
                </div>
                <div class="col-2"> <label>Até:</label>
                  <input type="date" id="atePesquisa" name="atePesquisa" class="form-control" required>
                </div>

                <div class="col-5"> <label>Produtos:</label>
                  <input type="text" id="produtoPesquisa" name="produtoPesquisa" class="form-control"
                    placeholder="Deixe vazio para pesquisar todos os Produtos"></div>
                   
                <div class="col-2"> <label>Local:</label>
                  <input type="text" id="localPesquisa" name="localPesquisa" class="form-control"
                    placeholder="Deixe vazio para pesquisar todos os Locais"></div>

              </div>

              <div class=" form-group">
                <button type="submit" class="btn btn-primary form-control ">Buscar</button>
              </div>


            </form>


          </div>
          <!-- /.card-body -->

          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<div class="d-none">
  <table id="cabe" class="table" style="border: 1px solid black;margin-bottom: 50px;">
    <thead>
      <tr>
        <th style="border: 1px solid black;">Extrato de Saídas</th>
        <th style="border: 1px solid black;">Intervalo da Pesquisa:
          {{dados.dePesquisa |date('d/m/Y')}} |
          {{dados.atePesquisa |date('d/m/Y')}}</th>
        <th style="border: 1px solid black;">Data Extração: {{ "now"|date("d/m/Y") }} </th>

      </tr>
    </thead>

  </table>
</div>
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">Dispensas por Produto</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <!--  <table id="example" class="text-sm table table-striped table-bordered table-hover">
            <thead>
              <tr>

             
                <th>Produto</th>
                <th>Departamento</th>
              
                <th>Qnt</th>
               


              </tr>
            </thead>
            <tbody>
               {%set qnt = 0%}
           
              {%for registro in registros%}
              <tr>
               

                <td>{{ registro.nome }}</td>
                <td>{{ registro.local }}</td>
        
                <td>{{ registro.total_quantidade }}</td>
                 {%set qnt = qnt + registro.total_quantidade%}
              
                
              </tr>
             
              {% endfor %}
               <tr>
                 <td>10000</td>
                 
                 <td>Total: {{ qnt }}</td>
                 <td></td>
               


               </tr>
            </tbody>
          </table>-->
          <table id="example" class="text-sm table table-striped table-bordered table-hover">
            <thead>
              <tr>

                <th>ID</th>
                <th>Dispensa</th>
                <th>Produto</th>
                <th>Departamento</th>
                <th>Data</th>
                <th>Qnt</th>
                <th>Usuario</th>


              </tr>
            </thead>
            <tbody>
               {%set qnt = 0%}
           
              {%for registro in registros%}
              <tr>
                <td>{{ registro.saida_id }}</td>
                <td>{{ registro.saida }}</td>
                <td>{{ registro.nome }}</td>
                <td>{{ registro.local }}</td>
                <td>{{ registro.data|date('d/m/Y') }}</td>
                <td>{{ registro.quantidade }}</td>
                 {%set qnt = qnt + registro.quantidade%}
                <td>{{ registro.username }}</td>
                
              </tr>
             
              {% endfor %}
             
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.content -->
    </div>
  </div>
</div>




{% endblock %}