{%extends 'base.html'%}
{% block conteudo %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Saída: {{venda}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{url('index')}}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{url('vendas')}}">Saídas</a></li>
            <li class="breadcrumb-item active">{{venda}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>



  {{flash()}}


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card collapsed-card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Adicionar Produto A Saída</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-plus"></i>
                </button>

              </div>
            </div>
            <div class="card-body" style="display: none;">
              <!-- conteudo -->
              <form action="{{ url('vendas/'~venda)}}" method="post">
                <input  type="hidden" name="adicionar_produto">
                <input type="hidden" name="data" value="{{registros[0].data}}">
                <input type="hidden" name="local" value="{{registros[0].local}}">
                <input type="hidden" name="venda" value="{{venda}}">
                <div class="form-group">
                  <label>Produto</label>
                 <select id="lote" class="campo_select form-control" style="width: 100%" name="lote">
                   {%for pro in produtos%}{%for lote in lotes%}
                   {%if pro.id == lote.produto_id%}

                   <option value="{{lote.id}}">{{lote.lote}} -
                     {{pro.nome}} Qnt.: {{lote.quantidade}} Val.: {{lote.vencimento}}</option>{%endif%}

                   {%endfor%}{%endfor%}
                 </select>
                </div>

                <div class="form-group">
                  <label>
                    Quantidade Solicitada
                  </label>
                  <input class="form-control" id="qntSolic" type="number" name="qntSolic" placeholder="Ex: 12" min="1"
                    required>
                </div>
                <div class="form-group">
                  <label>
                    Quantidade
                  </label>
                  <input class="form-control" id="quantidade" type="number" name="quantidade" placeholder="Ex: 12"
                    min="1" required>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary" type="submit" value="Adicionar">
                </div>


              </form>
            </div>
            <!-- /.card-body -->

            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>



  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">Saída: {{venda}} Local: {{local[0].nome}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Lote</th>
                <th>Qnt. Solicitada</th>
                <th>Qnt.</th>
                
              

              </tr>
            </thead>
            <tbody>
              {% for registro in registros %}
              {% set loteNome = '' %}
              {% set ProdutoId = '' %}
              {% set ProdutoNome = '' %}
              {% for lote in lotes %}
              {% if registro.lote_id == lote.id %}
              {% set loteNome = lote.lote %}
              {% set ProdutoId = lote.produto_id %}
              {% for pro in produtos %}
              {% if pro.id == ProdutoId %}
              {% set ProdutoNome = pro.nome %}
              <tr>
                <td>
                  <a href="{{ url('produtos/' ~ pro.slug ~ '/' ~ pro.id) }}"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ ProdutoNome }}
                  </a>
                </td>
                <td>
                  <a href="{{ url('produtos/' ~ pro.slug ~ '/' ~ pro.id) }}"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ loteNome }}
                  </a>
                </td>
                <td>{{ registro.qnt_solicitada }}</td>
                <td>{{ registro.quantidade }}</td>
                
              </tr>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.content -->
    </div>
  </div>
</div>








{% endblock %}